:root {
    --glass: #ffffff50;
    --glass_hover: #ffffff77;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin: 1rem;
    height: 100vh;
}

#project-pane,
main {
    border-radius: 1rem;
    overflow: hidden;
}

#project-pane {
    background: #ffe1e1;
}

main {
    background: #e1f5ff;
}

/* ---Aside Section--- */

/* New Project */
#title {
    background: var(--glass);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: .8em 0;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#new-project {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: .5em 0;
    border-radius: 1rem;
}

#new-project:hover {
    background: var(--glass);
}

#new-project-button {
    background: none;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    border: none;
    cursor: pointer;
}

.new-project-form {
    display: block;
    transition: all 200ms;
}

.hidden {
    display: none;
    transition: all 200ms;
}

#new-project-input {
    display: block;
    padding: .5rem 1rem;
    margin: .5rem auto;
    border: none;
    outline: none;
    border-radius: 1rem;
}

#create-project,
#cancel-project {
    color: white;
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#create-project {
    background: #87e4a6;
}

#cancel-project {
    background: #e48787;
}

/* Project List */
#project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.project {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: var(--glass);
    width: 100%;
    text-align: center;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.project-title {
    margin: 0 1rem;
    overflow: hidden;
}

.delete-project {
    padding: 0 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.project:hover {
    background: var(--glass_hover);
}

/* .project:hover + .delete-project {
    display: inline;
} */